
.customIconSize {
  font-size: 36px;
  height: 36px ;
  width: 36px ;
}
.customButton {
  padding-left: 8px;
}
.container-button {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}
.row1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}